/* Se define los estilos generales dentro de la web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Se establece y se define el color de fondo del sitio web y la topografia de las letras*/
body {
    background-color:#f4f6fb;
    font-family: georgia, serif;
    color:#444444 ;
    line-height: 1.7;
}
/*Se establece y se definen los tamaños, colores dentro del encabezado del sitio web*/
header {
    background-color: #0d1f3c;
    color: white;
    text-align: center;
    padding: 30px 25px;
    border-bottom: 9px solid #e6a871;
}

header h1{
    font-size: 2.0em;
    color:#e6a817;
    margin-bottom: 7px;
}

header p{
    font-size: 1.2em;
    color: darkgray;
    margin-bottom: 12px;
}

/*Se establece medidas para cada uno de los eleemntos dentro del menu de navegación*/
nav{
    margin-top: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
    padding: 5px 9px;
    border-radius: 2px;
    background-color: #1b3a6b;
}

nav a:hover{
    background-color: #e6a817;
    color: #0d1f3c;
}
/*Se establece el contenido principal*/
main{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 30px;
}

/*Se establece las meiddas, bordes y alineación para la imagen principal representativa*/

.seccion-imagen{
    text-align:center;
    margin-bottom: 40px;
}

.imagen{
    width: 100%;
    max-width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #e6a817;
    display: block;
    margin: 0 auto;
}
/*Se establece la estructura dentro del texto*/
.seccion-Info{
    background-color:aliceblue;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 25px;
    text-align: center;
    border-left: 10px solid #e6a817;
}
.seccion-Info h2{
    color:#0d1f3c;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.seccion-Info p{
    font-size: 1.08em;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

/*Se eestablece la estructura para la lista de la mision y vision*/

.Seccion-m-v{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 30px;
    margin-bottom: 35px;
}
.Seccion-m-v h2{
    width: 100%;
    color: #0d1f3c;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 12px;

}
.Apartado{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    width: 200px;
    border-top: 10px solid #e6a817;
}
.Apartado h3{
    color:#0d1f3c;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 15px;
}
.Apartado p{
    font-size: 0.97em;
    margin-bottom: 12px;
}
.Apartado ul{
    padding-left: 25px;

}
.Apartado ul li{
    margin-bottom: 7px;
    font-size: 0.95em;
}
/*Se establece la estructura para la lista de lo que hace o los servicios que da la el sistema*/

.Lista{
    list-style: none;
    text-align: left;
    display: inline-block;
    margin: 20px auto;
}
.Lista li{
    font-size: 1.1em;
    padding: 4px 0;
}

/*Se establece la estructura y el diseño para el index de contacto*/
.seccion-ContactoR{
    background-color: #0d1f3c;
    color: white;
    border-radius: 20px;
    padding: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.seccion-ContactoR h2{
    color: #e6a817;
    font-size: 1.95em;
    margin-bottom: 20px;
}
.seccion-ContactoR p{
    font-size: 1.1em;
    margin-bottom: 10px;
}
/*Se establece la estructura y el diseño para hacer el html de contecto*/
.seccion-Contacto{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-bottom: 40px;
    justify-content: center;
}
.datos-Contacto{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    flex: 2;
    min-width: 300px;
    border-top: 7px solid #e6a817;
}
.datos-Contacto h3{
    color: #0d1f3c;
    font-size: 1.8em;
    margin-bottom: 30px;
}
.info-elemento{
    margin-bottom: 25px;
}
.info-elemento h4{
    color: #1b3a6b;
    margin-bottom: 7px;
}
.info-elemento p{
    font-size: 0.95em;
}

.boton{
    display: inline-block;
    width: 50%;
    background-color: #e6a817;
    color: #0d1f3c;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-family: georgia,serif;
}
.boton:hover{
    background-color:#e6a871;
}

/*Se establece la estructura y el diseño del pie de pagina*/
footer{
    background-color: #0d1f3c;
    color: #aaabae;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-size: 1em;
    border-top: 5px solid #e6a817;
}
footer p{
    margin-bottom: 7px;
}